@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:regular,bold,italic&subset=latin,latin-ext');
@tailwind base;
@tailwind components;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
@tailwind utilities;

a:hover {
    font-weight: bold;
}

html {

    font-family: 'Source Serif Pro', 'Times New Roman', Times, serif;
}

p {
    font-size: 18px;
    line-height: 2 rem;
}

h1 {
    font-size: 30px;
    font-weight: 400;
}
h2 {
    font-size: 20px;
    text-align: center;
}
ul {
    list-style-type: disc;
    padding: 2rem;
}
blockquote {
    border-left: 0.75rem solid rgb(197, 188, 188);
    font-style: italic;
    padding: 1.5rem;
    
}